@charset "utf-8";

.global a {
    /* transition-property: all; */
    /* transition-duration: 3s;
    transition-delay: 2s; */
    /* s(seconds) の頭文字 */
    transition: 0.2s;
}

.global a:hover {
    color: #B6EAFE;
}