@charset "utf-8";

h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

h2::before {
    content: "";
    display: block;
    width: 38px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #f00;
    border-radius: 50%;
}

.advantages h2::before {
    background-color: #FFF5DE;
}

.global a {
    /* transition-property: all; */
    /* transition-duration: 3s;
    transition-delay: 2s; */
    /* s(seconds) の頭文字 */
    transition: 0.2s;
}

.global a:hover {
    color: #B6EAFE;
}


.advantages h3 {
    font-size: 36px;
    font-weight: bold;
}

@media (960px<=width) {}

@media (740px<=width) {
    .advantages .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5.26%;
    }

    .advantages article {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 4;
        /*
        span: 決まり文句（常に同じ）
        4：articleの中にある要素の数
        */
    }
}

input {
    all: revert;
}

form {
    display: grid;
    grid-template-columns: 1fr 126px;
    column-gap: 20px;
    max-width: 626px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    background-color: #f00;
    border: none;
    padding: 20px;
}

.submit {
    background-color: #ccc;
    border: none;
    padding: 20px;
}